# Ignore Lib
lib/*
__tests__/*
types/*

# Ignore Unused Dist 
dist/tsc/lib/*

# Modules
node_modules/*

# Misc Folders
.husky/*
.github/*
.assets/*

# Unwanted Root Files
rollup.config.js
jest.config.js
.eslintrc.json
tsconfig.json
yarn.lock